.stripe-button {
  position: relative;
  background-color: #64bbed;
  color: #fff;
  border-radius: 2px;
  border: none;
  padding: 0.625rem;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.372);
  transition: linear 0.25s;
  width: max-content;
  height: max-content;
}

.stripe-button:hover {
  cursor: pointer;
  /* background-color: #3a444a; */
  top: 2px;
  left: 2px;
  box-shadow: 0px 0px rgba(0, 0, 0, 0.372);
}

.stripe-product-card {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #fff;
  color: #3a444a;
  box-shadow: 2px 2px #dcdbdb;
  font-style: normal;
}